.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .MuiContainer-maxWidthSm {
    margin: 140px;
    padding-bottom: 10px;
    background-color: transparent;
    box-shadow: 9px 22px 23px -2px rgba(0,0,0,0.73);
-webkit-box-shadow: 9px 22px 23px -2px rgba(0,0,0,0.73);
-moz-box-shadow: 9px 22px 23px -2px rgba(0,0,0,0.73);
  }
  .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiPaper-elevation0{
    background-color: transparent;
    
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

